* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
}

a {
    text-decoration: none;
}

header {
    width: 95%;
    background: #0ea809;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 8px;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
	margin-left:30px;
	border-radius:8px;
    border-bottom: 5px solid #f1f0f0;
	
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px; 
    height: auto; 
    margin-right: 10px; 
}

header nav {
    display: flex;
    align-items: center;
    height: 60px;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color 0.4s, transform 0.3s ease-out;
}

header nav span {
    color: #fff;
    margin: 0 10px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color 0.4s, transform 0.3s ease-out;
}

header nav a::before,
header nav span::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: transparent;
    transition: width 0.3s ease-out, left 0.3s ease-out, background-color 0.4s;
}

header nav a:hover::before,
header nav span:hover::before,
header nav a.active::before,
header nav span.active::before {
    width: 100%;
    left: 0;
    background-color: #ffffff; 
}

header nav a:hover,
header nav span:hover {
    color: #ffffff; 
    transform: translateY(-3px);
    cursor: pointer; 
}
	
/**/

.slider{
    width: 100vw;
    height: 107vh;
    overflow: hidden;
    position: relative;
    margin-top: -50px;
    background-image: none;
}

.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
   
	
}



.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content{
    position: absolute;
    top:30%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    padding-right: 35%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    transform: translateX(-50%);
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: 500;
    line-height: 1.3em;
}

.slider .list .item .content .type{
    color: #14ff72cb;
}

.slider .list .item .content  .description{
    font-size: 16px;
}

.slider .list .item .content .btn{
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(2,130px);
    grid-template-rows: 40px;
    gap:5px;
   
}


.slider .list .item .content .btn button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: uppercase;
    font-weight: 500;
   
}

.slider .list .item .content .btn button:nth-child(1){
    background-color: transparent;
    color: #eee;
	border:2px solid #14ff72cb;
}

.slider .list .item .content .btn button:hover{
   color: silver;
   cursor: pointer;
}


.thumbnail{
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
	transition:0.4s;
    border: solid 1px #f1f0f0;
    border-bottom: 5px solid #f1f0f0;
}

.thumbnail img:hover{
    cursor:pointer;
	transform: scale(1.1);
	transition:0.6s;
	transform:translateY(-10px);
	box-shadow: 0 0 10px #a8f02df4;;
	
}



/**/

.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.nextPrevArrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    color: black;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.nextPrevArrows button:hover{
     background-color: transparent;
    color: #fff;
	border:3px solid lime;
}

.slider .list .item:nth-child(1){
    z-index: 1;
}

.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .btn{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(00px);
        opacity: 1;
    
    }
}

.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.2s;
}

.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.4s;
}

.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.6s;
}

.slider .list .item:nth-child(1) .content .btn{
    animation-delay: 0.8s;
}

/**/
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
    animation: showImage 0.5s 1s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail 0.5s 1s linear 1 forwards;
}

.slider.prev .list .item img{
    z-index: 100;
}

@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}

.slider.next .thumbnail{
    animation: effectNext 0.5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/**/
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outFrame 0.5s linear 1 forwards;
}

@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}

.slider.prev .list .item:nth-child(1) .content .title,
.slider.prev .list .item:nth-child(1) .content .type,
.slider.prev .list .item:nth-child(1) .content .description,
.slider.prev .list .item:nth-child(1) .content .btn{
    
    animation: contentOut 0.5s 1s linear 1 forwards;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width:678px){
    .slider .list .item .content{
        padding-right: 0;

    }

    .slider .list .item .content .title{
        font-size: 30px;
    }
}


.thumbnail .item {
    position: relative;
  }
  
 

.smallTitle{
    position: absolute;
    margin-top: 10px;
    margin-left: 5px;
    font-family: "uppercase";
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.profileName h4{
    font-size:55px;
    margin-top:-42%;
    margin-left: 22%;
    color: rgba(255, 255, 255, 0.9); 
  text-shadow:
    1px 1px 0 rgb(6, 5, 5), 
    2px 2px 0 rgb(7, 4, 4), 
    3px 3px 0 rgb(239, 239, 239), 
    4px 4px 0 rgb(246, 242, 242),
    5px 5px 5px rgba(249, 248, 248, 0.538); 
   
}